* {
    margin: 0;
    padding: 0;
}


table {
    margin: 0 auto;
}

table, th, td {
    border: 1px solid #000000;
    border-spacing: 0;
}

th, td {
    padding: 14px 24px 14px 24px;
}

.main-wrapper {
    text-align: center;
}

.info {
    margin-top: 20px;
    margin-bottom: 20px;
}