.hero {
  width: 100%;
  height: calc(100vh - 161px);
  background-color: $blue-bayoux;
  background: url($path--rel + '/hero.png') no-repeat center;
  background-size: cover;
  display: table;

  @include e(content) {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  @include e(heading) {
    font-family: $font-family--secondary;
    font-size: 34px;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 5px;

    @include mq(md) {
      font-size: 78px;
    }
  }

  @include e(text) {
    @extend .content-text;
    color: $cadet-blue;
  }
}