html,
body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.right {
    float: right;
}

.left {
    float: left;
}

.primary-bg {
    background-color: #7dd9e8;
}

.secondary-bg {
    background-color: #f5f5f5;
}

/* header */

.logo {
    float: left;
    margin-right: 20px;
}

.user-info {
    float: right;
    text-align: right;
    margin-top: 24px;
}

.user-info .name {
    font-size: 15px;
    margin-bottom: 9px;
}

.user-info .nav {
    font-size: 11px;
}

.user-info .nav span {
    margin: 2px;
}

.search {
    float: right;
    margin-top: 40px;
}

.search-field {
    float: left;
    background: url("../images/sprite.png") no-repeat 0 0;
    width: 276px;
    margin-right: 7px;
}

.search-field input {
    width: 80%;
    font-size: 11px;
    padding: 4px 8px 4px 8px;
    border: 0;
    /* background-color: #caeff7; */
    background-color: transparent;
}

.search button {
    font-size: 9px;
    font-weight: bold;
    color: #ffffff;
    padding: 6px 8px 6px 8px;
    border: 0;
    background: url("../images/sprite.png") no-repeat 0 -26px;
    width: 53px;
    cursor: pointer;
}

.search-clear {
    display: inline-block;
    height: 9px;
    width: 8px;
    background: url("../images/sprite.png") no-repeat -63px -27px;
}

.search-icon {
    display: inline-block;
    margin-left: 5px;
    height: 10px;
    width: 9px;
    background: url("../images/sprite.png") no-repeat -82px -27px;
}

/* navigation bar */

.nav ul li {
    display: inline;
    margin: 15px;
}

.nav ul li:first-child {
    margin-left: 0;
}

.nav ul li:last-child {
    margin-right: 0;
}

.left-nav {
    float: left;
    font-size: 14px;
    padding: 12px 0 12px 8px;
}

.right-nav {
    float: right;
    font-size: 11px;
    padding: 12px 0 12px 0;
}

span.nav-icon {
    display: inline-block;
    background: url("../images/sprite.png") no-repeat;
    vertical-align: middle;
    margin-right: 8px;
}

.invites span.nav-icon{
    height: 15px;
    width: 10px;
    background-position: -98px -27px;
}

.requests span.nav-icon{
    height: 16px;
    width: 19px;
    background-position: -117px -27px;
}

.requests a {
    color: #ababab;
}
