* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: table;
}

.info-table {
  display: table-cell;
  vertical-align: middle;
}

.clearfix {
  display: table;
  content: '';
  clear: both;
}