.btn {
  padding: 24px 68px;
  border: 0;
  border-radius: 3px;
  color: $white;
  cursor: pointer;
  font: 700 $default-font-size + 4px $font-family--primary;
  
  @include m(primary) {
    box-shadow: 0px 3px 0px palette(green-shades, dark);
    background: $caribbean-green;
  }

  &:focus {
    outline: none;
  }
}

.icon-btn {
  border: 0;
  background: transparent;
  padding: 0;
  color: $blue-bayoux;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}