.btn {
  padding: 24px 68px;
  border: 0;
  border-radius: 3px;
  color: $white;
  cursor: pointer;
  font: 700 $default-font-size + 4px $font-family--primary;

  @include m(primary) {
    border: 1px solid $caribbean-green;
    background: $caribbean-green;
  }
}

.icon-btn {
  border: 0;
  background: transparent;
  padding: 0;
  color: $blue-bayoux;
}