.header {
  @include e(less-info) {
    background-color: $athens-gray;
    padding: 14px 0;
    font-weight: 400;
    border-bottom: 1px solid palette(gray-shades, dark);
  }

  @include e(navbar) {
    padding: 36px 0;
  }
}
