.indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $primary-color;
  display: inline-block;
  margin: 0 2px;
  cursor: pointer;

  @include m(active) {
    background-color: $accent-color;
  }
}
