.nav {
  width: 100%;

  @include mq(md) {
    width: calc(100% - 16px);
  }

  @include e(holder) {
    @include mq(md) {
      float: left;
    }
  }

  @include e(logo) {
    float: left;
    
    @include mq(lg) {
      margin-right: 88px;
    }
  }

  @include e(nav-icon) {
    float: right;
    padding: 12px 0;

    @include mq(md) {
      display: none;
    }

    .icon-btn {
      margin-left: 20px;
    }
  }

  @include e(nav-links) {
    display: none;

    @include mq(md) {
      display: block;
      float: left;
      padding: 12px 0;
    }

    li {
      font-weight: 700;
      font-size: $default-font-size;
      padding: 12px 0;

      @include mq(md) {
        margin-right: 20px;
        display: inline-block;
      }

      @include mq(lg) {
        margin-right: 44px;
        padding: 0;
      }
    }
  }
}
