@media only screen and (min-width: 480px) {
  .nav-wrapper .nav {
    text-align: left;
  }

  .nav-wrapper .nav .top-nav {
    width: auto;
  }

  .nav-wrapper .menu-toggle span {
    display: none;
  }

  .right-nav ul li {
    margin: 15px;
  }

  .entries-nav .nav {
    height: 65px;
  }

  .entries-nav .nav ul li {
    display: inline-block;
    margin: 0 4px 0 4px;
    vertical-align: middle;
    width: 46%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}

@media only screen and (min-width: 768px) {
  .content-wrapper {
    padding: 30px 20px 32px 20px;
  }

  .right-content {
    float: right;
    width: 175px;
  }

  .recent-content {
    float: left;
    width: 194px;
  }

  .brand,
  .logo {
    float: left;
    width: auto;
  }

  .logo {
    margin-right: 21px;
  }

  .logo img {
    display: inline-block;
  }

  .search {
    text-align: left;
    float: right;
    margin-top: 40px;
    padding: 0;
  }

  .search-field {
    float: left;
    width: 258px;
    margin-right: 7px;
  }

  .user-info {
    display: block;
    float: right;
    text-align: right;
    margin-top: 24px;
  }

  .top-nav .user-config {
    display: none;
  }

  .side-nav ul li a {
    padding: 11px;
  }

  .side-nav ul li a span.side-icon {
    display: inline-block;
  }

  .side-nav ul li a span.text {
    width: 152px;
  }

  .recent-searches-1 ul,
  .recent-searches-2 ul {
    display: block;
  }

  .left-content {
    width: calc(100% - 175px);
  }

  .right-content {
    display: block;
  }

  .recent-content {
    display: none;
  }

  .entries-content {
    float: left;
    width: calc(100% - 26px);
    padding: 0 26px 0 0;
  }

  .entries-content h1 {
    padding: 0 0 6px 0;
  }

  .entries-nav .nav:first-child {
    border-top-left-radius: 12px;
  }

  .entries-nav .nav:last-child {
    border-top-right-radius: 12px;
  }

  .footer ul.nav li {
    display: inline;
  }
  
  .footer ul.nav li:before {
    content: "•";
    padding: 7px;
    color: #d5d5d5;
  }
  
  .footer ul.nav li:first-child:before {
    content: "";
    padding: 0px;
  }
}

@media only screen and (min-width: 1200px) {
  .main-wrapper {
    min-width: 1002px;
  }

  .container {
    width: 940px;
  }

  .inner-container {
    padding: 0;
  }

  .content-wrapper {
    padding: 30px 0 32px 0;
  }

  .search-field {
    width: 276px;
  }

  .left-nav {
    font-size: 14px;
    float: left;
    padding: 12px 0 12px 8px;
  }

  .right-nav {
    font-size: 11px;
    float: right;
    padding: 12px 0 12px 0;
  }

  .left-nav ul {
    display: block;
  }

  .left-nav ul li {
    display: inline;
    margin: 15px;
    padding: 12px;
    text-align: left;
    padding: 0;
  }

  .nav-wrapper .menu-toggle {
    display: none;
  }

  .nav-wrapper .nav {
    display: block;
  }

  .left-content {
    float: left;
    width: 765px;
  }

  .recent-content {
    display: block;
  }

  .entries-content {
    float: right;
    width: 519px;
    padding: 0 26px 0 26px;
  }

  .entries-nav .nav {
    width: 258px;
  }

  .entries-nav .nav ul li {
    width: 115px;
  }
}
