@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1200px) {
  .main-wrapper {
    min-width: 1002px;
  }

  .container {
    width: 940px;
    padding: 0;
  }

  .brand,
  .logo {
    float: left;
    width: auto;
  }

  .logo {
    margin-right: 21px;
  }

  .logo img {
    display: inline-block;
  }

  .user-info {
    display: block;
    float: right;
    text-align: right;
    margin-top: 24px;
  }

  .search {
    text-align: left;
    float: right;
    margin-top: 40px;
    padding: 0;
  }

  .search-field {
    float: left;
    width: 276px;
    margin-right: 7px;
  }

  .left-nav {
    font-size: 14px;
    float: left;
    padding: 12px 0 12px 8px;
  }
  
  .right-nav {
    font-size: 11px;
    float: right;
    padding: 12px 0 12px 0;
  }

  .nav-wrapper .nav ul li {
    display: inline;
    margin: 15px;
    text-align: left;
    padding: 0;
  }

  .nav-wrapper .menu-toggle{
    display: none;
  }

  .nav-wrapper .nav {
    display: block;
  }

  .left-content {
    float: left;
    width: 765px;
  }
  
  .right-content {
    float: right;
    width: 175px;
  }
  
  .recent-content {
    float: left;
    width: 194px;
  }

  .recent-searches-1 ul,
  .recent-searches-2 ul {
    display: block;
  }

  .entries-content {
    float: right;
    width: 519px;
    padding: 0 26px 0 26px;
  }

  .user-sm {
    display: none;
  }
  
  .article .user-avatar {
    display: block;
  }

  .article .description .info {
    display: block;
  }

}
