section.hero {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  z-index: 10;
}

.outer-container {
  max-width: 1540px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  padding: 15px 0 15px 0;
}
