@media only screen and (min-width: 480px) {
  header .top-right-menu button.buy {
    display: inline;
  }

  section .content {
    padding: 80px 0;
  }
}

@media only screen and (min-width: 768px) {
  .md {
    display: block;
  }

  .sm {
    display: none;
  }

  .content h1 {
    font-size: 50px;
  }

  .content h2 {
    font-size: 40px;
  }

  .top-container {
    display: inline-block;
    width: 100%;
  }

  header .logo {
    height: 63px;
  }

  .top-right-menu {
    padding: 5px 0 5px 0;
  }

  .hero-content {
    height: calc(100% - 104px);
  }

  .counter ul {
    width: auto;
    background: transparent;
  }

  .counter ul li {
    padding: 0px 34px 0 0;
    width: auto;
  }

  .countdown ul li {
    padding: 44px 34px 44px 0;
  }

  .counter ul li:before {
    content: "—";
    color: #ffffff;
    font-weight: 700;
    font-size: 12px;
  }

  .counter ul li:first-child:before {
    content: "";
  }

  .countdown ul li:before {
    padding-right: 44px;
  }

  .countdown ul li:first-child:before {
    padding: 0;
  }

  .countdown ul li:first-child {
    padding-left: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .countdown ul li:last-child {
    padding-right: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .counter ul li p:first-child {
    font-size: 40px;
  }

  .counter ul li p:last-child {
    font-size: 16px;
  }

  .countdown ul li {
    background-color: rgba(242, 85, 67, 0.78);
  }

  .detail-numbers ul li:before {
    content: "";
    padding: 0;
  }

  .btn-row button {
    display: inline-block;
    margin: 0 15px;
  }

  .col {
    width: 33.33%;
    padding: 0 15px 15px 15px !important;
  }
}

@media only screen and (min-width: 992px) {
  .content h1 {
    font-size: 60px;
  }

  .content h2 {
    font-size: 50px;
  }

  .content p {
    font-size: 18px;
  }

  .container {
    max-width: 992px;
  }

  .top-right-menu {
    display: none;
  }

  .top-container {
    width: auto;
  }

  .sm-top-container {
    float: left;
  }

  button.light,
  button.yellow,
  button.redline {
    padding: 15px 46px;
    font-size: 16px;
    border-radius: 30px;
  }

  header {
    background: transparent;
    padding-top: 40px;
  }

  header .logo {
    height: 83px;
  }

  header nav {
    display: block;
    float: right;
    padding: 0;
    letter-spacing: 1px;
    position: relative;
    background: transparent;
    width: auto;
    margin: 0;
    box-shadow: none;
  }

  header nav ul,
  header nav ul li {
    width: auto;
  }

  header nav ul {
    float: left;
    margin-right: 40px;
    padding: 27px 0 27px 0;
  }

  header nav button {
    float: right;
    margin: 10px 0 10px 0;
    display: block;
  }

  header nav ul li {
    display: inline-block;
    margin: 0 10px;
  }

  header nav ul li:hover {
    border-bottom: 2px solid #ffffff;
  }

  header nav ul li:first-child {
    margin-left: 0;
  }

  header nav ul li:last-child {
    margin-right: 0;
  }

  header nav ul li a {
    font-weight: 500;
    display: inline;
    padding: 0;
  }

  .hero-content {
    height: calc(100% - 175px);
  }

  section.hero .content p {
    font-size: 22px;
  }

  .countdown ul li {
    padding: 44px 44px 44px 0;
  }

  .countdown ul li:first-child {
    padding-left: 100px;
  }

  .countdown ul li:last-child {
    padding-right: 100px;
  }

  .countdown ul li p:first-child {
    font-size: 40px;
  }

  .detail-numbers ul li p:first-child {
    font-size: 40px;
  }

  .counter ul li p:last-child {
    font-size: 20px;
  }

  .detail-numbers ul li:before {
    content: "—";
  }

  .detail-numbers ul li:first-child:before {
    content: "";
  }

  .detail-numbers ul li:before {
    padding-right: 44px;
  }

  .detail-numbers ul li:first-child:before {
    padding: 0;
  }

  .speaker .info{
    padding: 32px;
  }

  .speaker .info p.name {
    font-size: 30px;
  }

  .speaker .info p.job {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  .lg {
    display: block;
  }

  .container {
    max-width: 1140px;
  }
  button.light,
  button.yellow,
  button.redline {
    padding: 15px 53px 15px 53px;
    font-size: 18px;
    border-radius: 30px;
  }

  header {
    padding-top: 70px;
  }

  .countdown {
    margin: 60px 0;
  }

  .about .content {
    padding: 120px 85px;
  }

  .about p {
    line-height: 36px;
  }
}

@media only screen and (min-width: 1400px) {
  .outer-container {
    padding: 0 50px;
  }
  
  .detail .content {
    padding: 116px 0 231px 0;
  }

  .confirmed-speakers {
    margin-top: -132px;
  }

  .confirmed-speakers .content{
    background-color: #ffffff;
    box-shadow: 0 0 10.5px rgba(0,0,0,0.07);
    padding: 116px 120px 50px 120px;
  }

  header nav ul {
    margin-right: 70px;
  }

  header nav ul li {
    margin: 0 35px;
  }

}
