@media only screen and (min-width: 480px) {
  header .top-right-menu button.buy {
    display: inline;
  }

  section .content {
    padding: 80px 0;
  }

  .past-speakers .content {
    padding: 50px 0;
  }

  .card {
    padding: 62px 60px;
  }

  .social-media a {
    margin: 0 21px;
  }
}

@media only screen and (min-width: 768px) {
  section.hero {
    min-height: 950px;
  }

  .md {
    display: block;
  }

  .sm {
    display: none;
  }

  .md-lg {
    display: block;
  }

  .col-about {
    width: 75%;
  }

  .col-links {
    width: 25%;
  }

  .content h1 {
    font-size: 50px;
  }

  .content h2 {
    font-size: 40px;
    margin-top: 16px;
  }

  .top-container {
    display: inline-block;
    width: 100%;
  }

  header .logo {
    height: 63px;
  }

  .top-right-menu {
    padding: 5px 0 5px 0;
  }

  .hero-content {
    height: calc(100% - 104px);
  }

  .counter ul {
    width: auto;
    background: transparent;
  }

  .counter ul li {
    padding: 0px 34px 0 0;
    width: auto;
  }

  .ticket-countdown ul li {
    padding: 0px 60px 0 0;
  }

  .ticket-countdown ul li:last-child {
    padding: 0;
  }

  .countdown ul li {
    padding: 44px 34px 44px 0;
  }

  .counter ul li:before {
    content: "—";
    color: #ffffff;
    font-weight: 700;
    font-size: 12px;
  }

  .counter ul li:first-child:before {
    content: "";
  }

  .countdown ul li:before {
    padding-right: 44px;
  }

  .countdown ul li:first-child:before {
    padding: 0;
  }

  .countdown ul li:first-child {
    padding-left: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .countdown ul li:last-child {
    padding-right: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .counter ul li p:first-child {
    font-size: 40px;
  }

  .counter ul li p:last-child {
    font-size: 16px;
  }

  .countdown ul li {
    background-color: rgba(242, 85, 67, 0.8);
  }

  .ticket-countdown ul li:before,
  .detail-numbers ul li:before {
    content: "";
    padding: 0;
  }

  .cal-icon {
    width: auto;
    margin-bottom: 10px;
  }

  .date {
    padding: 54px 0 35px 0;
  }

  .date ul li {
    padding: 0px 45px;
    border-right: 1px solid #e9e9e9;
    margin: 0;
  }

  .date ul li:last-child {
    border-right: 0;
  }

  .place-tabs li {
    margin: 0;
    border-radius: 0;
  }

  .place-tabs li:first-child {
    padding-left: 40px;
    border-top-left-radius: 26px;
    border-bottom-left-radius: 26px;
  }

  .place-tabs li:last-child {
    padding-right: 40px;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
  }

  .place-tabs li.active:after {
    content: "";
    border-right: 20px solid #f3f3f3;
    border-top: 20px solid transparent;
    height: 0;
    width: 0;
    transform: rotate(45deg);
    position: absolute;
    bottom: -8px;
    left: 50%;
  }

  .event-detail .time {
    font-size: 18px;
  }

  .event-detail .task {
    font-size: 23px;
    font-weight: 700;
  }

  .event {
    padding-top: 45px;
  }

  .event-detail {
    padding-bottom: 45px;
  }

  .btn-row button {
    display: inline-block;
    margin: 0 15px;
  }

  .col {
    width: 33.33%;
    padding: 0 15px 15px 15px !important;
  }

  .timeline {
    padding: 0 25px;
  }

  .subscribe h2, .subscribe .input-field {
    display: inline-block;
    vertical-align: middle;
  }

  .input-field {
    margin-left: 38px;
  }
}

@media only screen and (min-width: 992px) {
  .content h1 {
    font-size: 60px;
  }

  .content h2 {
    margin-bottom: 22px;
  }

  .content p {
    font-size: 20px;
  }

  .container {
    max-width: 992px;
  }

  .top-right-menu {
    display: none;
  }

  .top-container {
    width: auto;
  }

  .sm-top-container {
    float: left;
  }

  button.light,
  button.yellow,
  button.redline {
    padding: 15px 46px;
    font-size: 16px;
    border-radius: 30px;
  }

  header {
    background: transparent;
    padding-top: 40px;
  }

  header .logo {
    height: 83px;
  }

  header nav {
    display: block;
    float: right;
    padding: 0;
    letter-spacing: 1px;
    position: relative;
    background: transparent;
    width: auto;
    margin: 0;
    box-shadow: none;
  }

  header nav ul,
  header nav ul li {
    width: auto;
  }

  header nav ul {
    float: left;
    margin-right: 40px;
    padding: 27px 0 27px 0;
  }

  header nav button {
    float: right;
    margin: 10px 0 10px 0;
    display: block;
  }

  header nav ul li {
    display: inline-block;
    margin: 0 10px;
  }

  header nav ul li:hover {
    border-bottom: 2px solid #ffffff;
  }

  header nav ul li:first-child {
    margin-left: 0;
  }

  header nav ul li:last-child {
    margin-right: 0;
  }

  header nav ul li a {
    font-weight: 500;
    display: inline;
    padding: 0;
  }

  .hero-content {
    height: calc(100% - 175px);
  }

  section.hero .content p {
    font-size: 22px;
  }

  .about h2 {
    font-size: 50px;
  }

  .countdown ul li {
    padding: 44px 44px 44px 0;
  }

  .countdown ul li:first-child {
    padding-left: 100px;
  }

  .countdown ul li:last-child {
    padding-right: 100px;
  }

  .countdown ul li p:first-child {
    font-size: 40px;
  }

  .ticket-countdown ul li p:first-child,
  .detail-numbers ul li p:first-child {
    font-size: 40px;
  }

  .counter ul li p:last-child {
    font-size: 20px;
  }

  .ticket-countdown ul li:before,
  .detail-numbers ul li:before {
    content: "—";
  }

  .ticket-countdown ul li:first-child:before,
  .detail-numbers ul li:first-child:before {
    content: "";
  }

  .ticket-countdown ul li:before {
    padding-right: 60px;
  }

  .detail-numbers ul li:before {
    padding-right: 44px;
  }

  .ticket-countdown ul li:first-child:before,
  .detail-numbers ul li:first-child:before {
    padding: 0;
  }

  .detail-numbers .content p {
    font-size: 18px;
  }

  .speaker .info {
    padding: 32px;
  }

  .speaker .info p.name {
    font-size: 30px;
  }

  .speaker .info p.job {
    font-size: 16px;
  }

  .testimonial {
    width: 48%;
    display: inline-block;
    margin: 37px 15px;
  }

  .testimonial:nth-child(odd) {
    margin-left: 0;
  }
  .testimonial:nth-child(even) {
    margin-right: 0;
  }

  .testimonial .description {
    padding: 48px 15px 48px 78px;
  }

  .testimonial .description .person strong {
    font-size: 18px;
    letter-spacing: 1px;
  }

  .testimonial .description .person p {
    font-size: 16px;
  }

  .sponsors-list li {
    width: calc(33.33% - 30px);
  }

  .card .icon-info .info-row p:last-child {
    padding-left: 34px;
  }

  .card p {
    font-size: 18px;
  }

  .col-about p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  .lg {
    display: block;
  }

  .container {
    max-width: 1170px;
    padding: 0;
  }

  .col-about {
    width: 41.66666667%;
    padding-right: 100px;
  }

  .col-links {
    width: 25%;
    padding-right: 30px;
  }

  .col-instagram {
    width: 33.33333333%;
  }

  button.light,
  button.yellow,
  button.redline {
    padding: 15px 53px 15px 53px;
    font-size: 18px;
    border-radius: 30px;
  }

  header {
    padding-top: 70px;
  }

  .countdown {
    margin: 60px 0;
  }

  .about .content {
    padding: 120px 85px;
  }

  .about p {
    line-height: 36px;
  }
}

@media only screen and (min-width: 1400px) {
  .xlg {
    display: block;
  }

  .outer-container {
    padding: 0 50px;
  }

  .grid-container {
    max-width: 1200px;
    padding: 0;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-4 {
    width: 25%;
  }

  .col-lg-3 {
    width: 33.33333333%;
  }

  header nav ul {
    margin-right: 70px;
  }

  header nav ul li {
    margin: 0 35px;
  }

  .detail .content {
    padding: 116px 0 231px 0;
  }

  .confirmed-speakers {
    margin-top: -132px;
    z-index: 1;
    position: relative;
  }

  .confirmed-speakers .content,
  .schedule .content {
    background-color: #ffffff;
    box-shadow: 0 0 10.5px rgba(0, 0, 0, 0.07);
    padding: 116px 120px 50px 120px;
  }

  .schedule {
    margin-top: 46px;
  }

  .separator {
    margin-top: -62px;
  }

  .sponsors-list {
    padding: 52px 0 0 0;
    border-top: 1px solid #f3f3f3;
    margin-top: 52px;
  }

  .sponsors-list li {
    display: inline-block;
    margin: 0 46px;
    height: 118px;
    width: auto;
  }

  .sponsors-list li:nth-child(odd) {
    margin: 0 46px;
  }

  .sponsors-list li:nth-child(even) {
    margin: 0 46px;
  }

  .sponsors-list li img {
    max-height: 100%;
  }

  .sponsors-list h3 {
    margin-bottom: 40px;
    font-size: 24px;
  }

  .footer-row > div {
    margin: 0;
  }
}
