* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #1c1d1d;
}

button {
  cursor: pointer;
}

button:focus,
button:active {
  outline: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
