button.default {
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  letter-spacing: 1px;
}

button.light {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 7px 26px 7px 26px;
}

button.light,
button.yellow {
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

button.light:hover {
  background: rgba(255, 255, 255, 0.2);
}

button.light:active {
  background: #ffffff;
  color: #1c1d1d;
}

button.yellow {
  background-color: #fdaf19;
  color: #1c1d1d;
  border: 2px solid #fdaf19;
  padding: 7px 26px 7px 26px;
}

button.yellow:hover {
  background: #ffc046;
}

button.yellow:active {
  background-color: transparent;
  color: #fdaf19;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.sm,
.sm-md {
  display: block;
}

.md,
.lg {
  display: none;
}

.content {
  text-align: center;
}

.content h1 {
  font-family: "Playfair Display", serif;
}

section.hero {
  background-image: url("../images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

section.hero::before {
  content: "";
  position: absolute;
  background-color: #000000;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  z-index: -1;
}

header {
  background-color: rgba(0, 0, 0, 0.5);
}

header .logo {
  float: left;
  height: 53px;
}

header .logo img {
  max-height: 100%;
}

header nav button,
header .top-right-menu button.buy {
  display: none;
}

button.toggle-nav {
  background: transparent;
  color: #ffffff;
  border: 0;
  font-size: 18px;
  padding: 15px;
}

header nav {
  display: none;
  padding: 10px 0 10px 0;
}

header nav button {
  display: none;
}

header nav ul {
  width: 100%;
}

header nav ul li {
  display: block;
  width: 100%;
}

header nav ul li a {
  display: block;
  padding: 10px 15px 10px 15px;
  color: #ffffff;
}

header .inner-wrapper:hover nav {
  display: block;
}

section.hero .content h1 {
  font-size: 30px;
  color: #ffffff;
}

section.hero .content p {
  color: #ffffff;
}

.hero-content {
  height: calc(100% - 100px);
  width: 100%;
  display: table;
}

.hero-content .container {
  display: table-cell;
  vertical-align: middle;
}

.countdown {
  margin: 30px 0 30px 0;
}

.countdown ul {
  font-size: 0;
  background-color: rgba(242, 85, 67, 0.78);
  border-radius: 10px;
}

.countdown ul li {
  display: inline-block;
  padding: 20px;
  width: 40%;
}

.countdown ul li div {
  display: inline-block;
  vertical-align: middle;
}

.countdown ul li p:first-child {
  font-size: 30px;
  font-weight: 700;
}

.countdown ul li p:last-child {
  letter-spacing: 1px;
  font-size: 11px;
}

.countdown ul li:before {
  content: "—";
  color: #ffffff;
  font-weight: 700;
}

.hero-buttons button {
  display: block;
  margin: 15px auto;
}

.hero-play {
  text-align: center;
  margin-top: 60px;
}

.hero-play button {
  background: transparent;
  border: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.hero-play button span {
  display: block;
}
