.float-l {
  float: left;
}

.float-r {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.sm,
.sm-md {
  display: block;
}

.md,
.lg,
.md-lg,
.xlg {
  display: none;
}

.mr-0 {
  margin-right: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.content {
  text-align: center;
}

.content h1,
.content h2,
.content h3,
.content h4 {
  font-family: "Playfair Display", serif;
}

.content h1 {
  font-size: 30px;
  padding-bottom: 10px;
}

.content h2 {
  font-size: 26px;
  margin-top: 14px;
}

.content h3 {
  font-size: 22px;
}

.content h4 {
  font-size: 18px;
}

.content p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
}

.hero {
  background-image: url("../images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  background-color: #000000;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  z-index: 1;
}

.hero-container {
  position: relative;
  height: 100%;
  z-index: 2;
}

header {
  background-color: rgba(0, 0, 0, 0.5);
}

header .logo {
  float: left;
  height: 53px;
}

header .logo img {
  max-height: 100%;
}

header .nav button,
header .top-right-menu button.buy {
  display: none;
}

button.toggle-nav {
  background: transparent;
  color: #ffffff;
  border: 0;
  font-size: 18px;
  padding: 15px;
}

header .nav {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #1c1d1d;
  margin-left: -15px;
  box-shadow: 0 10px 20px #1c1d1d;
}

header .nav button {
  display: none;
}

header .nav ul {
  width: 100%;
}

header .nav ul li {
  display: block;
  width: 100%;
}

header .nav ul li a {
  display: block;
  padding: 15px;
  color: #ffffff;
}

header .inner-wrapper:hover .nav {
  display: block;
}
.hero .content h1 {
  color: #ffffff;
}
.hero .content p {
  color: #ffffff;
}

.hero-content {
  height: calc(100% - 100px);
  width: 100%;
  display: table;
}

.hero-content p {
  font-weight: 600;
}

.hero-content .container {
  display: table-cell;
  vertical-align: middle;
}

.counter ul {
  font-size: 0;
  border-radius: 10px;
}

.counter ul li {
  display: inline-block;
  padding: 0 20px;
  width: 40%;
}

.counter ul li div {
  display: inline-block;
  vertical-align: middle;
}

.counter ul li p:first-child {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
}

.counter ul li p:last-child {
  letter-spacing: 1px;
  font-size: 11px;
}

.counter ul li:before {
  content: "—";
  color: #ffffff;
  font-weight: 700;
}

.countdown {
  margin: 30px 0;
}

.countdown ul {
  background-color: rgba(242, 85, 67, 0.8);
}

.countdown ul li {
  padding: 20px;
}

.btn-row button {
  display: block;
  margin: 15px auto;
}

.hero-play {
  text-align: center;
  margin-top: 60px;
}

.hero-play button {
  background: transparent;
  border: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid transparent;
}

.hero-play button:hover {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.hero-play button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.hero-play button span {
  display: block;
}

.about p {
  padding: 30px 0 50px 0;
  line-height: 30px;
}

.detail .content p {
  color: #ffffff;
}

.content {
  padding: 60px 0;
}

.ticket-countdown {
  margin-top: 45px;
  margin-bottom: 55px;
}

.ticket-countdown ul li,
.detail-numbers ul li {
  width: auto;
  padding: 20px;
}

.col {
  display: inline-block;
  width: 50%;
  margin-bottom: 15px;
}

.col:nth-child(odd) {
  padding-right: 7.5px;
}

.col:nth-child(even) {
  padding-left: 7.5px;
}

.col:nth-last-child(1),
.col:nth-last-child(2) {
  margin-bottom: 0;
  padding-bottom: 0;
}

.confirmed-speakers .outer-container {
  padding: 0;
}

.speaker {
  cursor: pointer;
}

.speaker img {
  width: 100%;
}

.speakers-showcase {
  font-size: 0;
}

.speaker::before {
  content: "";
  background: -webkit-linear-gradient(
    top,
    rgba(28, 28, 28, 0.23) 40%,
    rgba(27, 29, 29, 0.63) 60%,
    rgba(27, 29, 29, 0.92) 80%,
    rgba(27, 29, 29, 0.99) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(28, 28, 28, 0.23) 40%,
    rgba(27, 29, 29, 0.63) 60%,
    rgba(27, 29, 29, 0.92) 80%,
    rgba(27, 29, 29, 0.99) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(28, 28, 28, 0.23) 40%,
    rgba(27, 29, 29, 0.63) 60%,
    rgba(27, 29, 29, 0.92) 80%,
    rgba(27, 29, 29, 0.99) 100%
  );
  background: -moz-linear-gradient(
    top,
    rgba(28, 28, 28, 0.23) 40%,
    rgba(27, 29, 29, 0.63) 60%,
    rgba(27, 29, 29, 0.92) 80%,
    rgba(27, 29, 29, 0.99) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(28, 28, 28, 0.23) 40%,
    rgba(27, 29, 29, 0.63) 60%,
    rgba(27, 29, 29, 0.92) 80%,
    rgba(27, 29, 29, 0.99) 100%
  );
  height: 100%;
  width: 100%;
  position: absolute;
}

.speaker:hover:before {
  background: -webkit-linear-gradient(
    top,
    rgba(242, 85, 67, 0.23) 40%,
    rgba(242, 85, 67, 0.63) 60%,
    rgba(242, 85, 67, 0.92) 80%,
    rgba(242, 85, 67, 0.99) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(242, 85, 67, 0.23) 40%,
    rgba(242, 85, 67, 0.63) 60%,
    rgba(242, 85, 67, 0.92) 80%,
    rgba(242, 85, 67, 0.99) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(242, 85, 67, 0.23) 40%,
    rgba(242, 85, 67, 0.63) 60%,
    rgba(242, 85, 67, 0.92) 80%,
    rgba(242, 85, 67, 0.99) 100%
  );
  background: -moz-linear-gradient(
    top,
    rgba(242, 85, 67, 0.23) 40%,
    rgba(242, 85, 67, 0.63) 60%,
    rgba(242, 85, 67, 0.92) 80%,
    rgba(242, 85, 67, 0.99) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(242, 85, 67, 0.23) 40%,
    rgba(242, 85, 67, 0.63) 60%,
    rgba(242, 85, 67, 0.92) 80%,
    rgba(242, 85, 67, 0.99) 100%
  );
}

.speakers-showcase {
  margin-top: 50px;
}

.speakers-showcase .speaker {
  width: 100%;
  position: relative;
}

.speaker .info {
  position: absolute;
  text-align: left;
  padding: 10px;
  color: #ffffff;
  bottom: 0;
  width: 100%;
}

.speaker .info p.name {
  font-family: "Playfair Display", serif;
  font-size: 16px;
}

.speaker .info p.job {
  font-size: 12px;
}

.gradient-bg {
  background: linear-gradient(-45deg, #f0474a 0%, #fdaf19 100%);
  color: #ffffff;
}

.separator {
  position: absolute;
  height: 170px;
  width: 100%;
  z-index: 0;
}

.schedule {
  position: relative;
  z-index: 1;
}

.cal-icon {
  width: 60px;
}

.date {
  padding: 30px 0;
}

.date ul li {
  width: auto !important;
  margin: 8px 0;
  cursor: pointer;
}

.date ul li.active {
  color: #f0474a;
}

.date ul li:before {
  content: none !important;
}

.date ul li p:first-child {
  font-size: 22px !important;
  letter-spacing: 0;
}

.date ul li p:last-child {
  font-size: 14px !important;
}

.place-tabs {
  font-size: 0;
}

.place-tabs li {
  display: inline-block;
  font-weight: 700;
  color: rgb(28, 29, 29, 0.7);
  background-color: #f3f3f3;
  padding: 15px 20px;
  font-size: 16px;
  position: relative;
  border-radius: 26px;
  margin: 8px;
  cursor: pointer;
}

.place-tabs li.active {
  color: #1c1d1d;
}

.timeline {
  max-width: 770px;
  margin: 0 auto;
}

.event {
  padding-top: 22px;
}

.event-detail {
  padding-bottom: 22px;
  border-bottom: 1px solid #f3f3f3;
}

.event:last-child .event-detail {
  border: 0;
}

.event .event-speaker,
.testimonial .picture {
  border-radius: 50%;
  overflow: hidden;
  float: left;
}

.event .event-speaker {
  height: 70px;
  width: 70px;
}

.testimonial .picture {
  height: 100px;
  width: 100px;
  margin-top: 48px;
}

.event .event-speaker img,
.testimonial .picture img {
  width: 100%;
}

.event-detail {
  float: right;
  width: calc(100% - 70px);
  text-align: left;
  padding-left: 30px;
}

.event-detail .time button {
  border: 0;
  padding: 0;
  background: transparent;
  color: #7c7c7c;
}

.event-detail .description {
  font-size: 16px;
  margin-top: 20px;
}

.testimonial {
  text-align: left;
  margin: 15px 0;
}

.testimonials-list {
  margin-top: 36px;
}

.testimonial .description {
  margin-left: 50px;
  box-shadow: 0 0 10.5px rgba(0, 0, 0, 0.07);
  padding: 24px 15px 24px 78px;
}

.testimonial .description .person {
  margin-top: 24px;
}

.testimonial .description .person strong {
  font-size: 14px;
  letter-spacing: 1px;
}

.testimonial .description .person p {
  font-size: 14px;
}

.sponsors-list {
  padding: 32px 0 0 0;
  border-top: 1px solid #f3f3f3;
  margin-top: 32px;
}

.sponsors-list li {
  display: inline-block;
  margin: 15px;
  width: calc(50% - 40px);
}

.sponsors-list li img {
  max-width: 100%;
  vertical-align: middle;
}

.sponsors-list li:nth-child(odd) {
  margin-left: 0;
}

.sponsors-list li:nth-child(even) {
  margin-right: 0;
}

.sponsors-list h3 {
  margin-bottom: 20px;
}

.location {
  background-image: url("../images/map.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card {
  background-color: #ffffff;
  padding: 34px 30px;
  text-align: left;
  max-width: 370px;
  box-shadow: 0 0 10.5px rgba(0, 0, 0, 0.07);
}

.card i {
  color: #f0474a;
}

.card .icon-info {
  border-bottom: 1px solid #f3f3f3;
}

.card .icon-info .info-row {
  margin: 20px 0;
}

.card .icon-info .info-row p:first-child {
  float: left;
}

.card .icon-info .info-row p:last-child {
  padding-left: 26px;
}

.social-media {
  margin-top: 34px;
}

.social-media a {
  margin: 0 10px;
}

.subscribe .input-field {
  max-width: 390px;
}

.input-field {
  border: 2px solid #ffffff;
  border-radius: 34px;
  font-size: 18px;
  font-weight: 400;
  padding: 20px 40px;
  color: #ffffff;
  width: 100%;
  margin: 20px auto;
}

.input-field input {
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  width: calc(100% - 30px);
  font-size: 18px;
  color: #ffffff;
}

.input-field input:focus {
  outline: none;
}

.input-field input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1; /* Firefox */
}

.input-field input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff;
}

.input-field input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ffffff;
}

.input-field span {
  float: right;
}

.footer {
  background-color: #1c1d1d;
}

.footer .content {
  color: #ffffff;
  text-align: left;
}

.footer-row > div {
  display: inline-block;
  margin-bottom: 24px;
}

.col-about,
.col-links,
.col-instagram {
  float: left;
  width: 100%;
}

.col-about {
  width: 100%;
}

.col-links {
  width: 100%;
}

.col-instagram {
  width: 100%;
}

.footer-row h4 {
  font-size: 22px;
  padding-bottom: 26px;
}

.col-links ul li {
  list-style-type: none;
  padding-bottom: 12px;
}

.col-about p,
.col-about .social-media a,
.col-links ul li a {
  font-size: 16px;
  color: #cecece;
}

.col-about .social-media a {
  margin: 0 11px;
}

.col-about .social-media a:hover {
  color: #ffffff;
}

.footer-row a:hover {
  text-decoration: underline;
}

.instagram-showcase .row {
  margin-bottom: 8px;
  font-size: 0;
}

.instagram-showcase .row:last-child {
  margin: 0;
}

.instagram-showcase .row div {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 8px;
}

.instagram-showcase .row img {
  max-height: 100%;
  max-width: 100%;
}

.instagram-showcase .row div:first-child {
  margin-left: 0;
}

.instagram-showcase .row div:last-child {
  margin-right: 0;
}

footer {
  background-color: #272828;
  text-align: center;
  font-size: 16px;
  color: #cecece;
  padding: 36px 0;
}