.float-l {
  float: left;
}

.float-r {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.sm,
.sm-md {
  display: block;
}

.md,
.lg,
.md-lg,
.xlg {
  display: none;
}

.content {
  text-align: center;
}

.content h1,
.content h2 {
  font-family: "Playfair Display", serif;
}

.content h1 {
  font-size: 30px;
  padding-bottom: 10px;
}

.content h2 {
  font-size: 26px;
}

.content p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
}

section.hero {
  background-image: url("../images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

section.hero::before {
  content: "";
  position: absolute;
  background-color: #000000;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  z-index: -1;
}

header {
  background-color: rgba(0, 0, 0, 0.5);
}

header .logo {
  float: left;
  height: 53px;
}

header .logo img {
  max-height: 100%;
}

header nav button,
header .top-right-menu button.buy {
  display: none;
}

button.toggle-nav {
  background: transparent;
  color: #ffffff;
  border: 0;
  font-size: 18px;
  padding: 15px;
}

header nav {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #1c1d1d;
  margin-left: -15px;
  box-shadow: 0 10px 20px #1c1d1d;
}

header nav button {
  display: none;
}

header nav ul {
  width: 100%;
}

header nav ul li {
  display: block;
  width: 100%;
}

header nav ul li a {
  display: block;
  padding: 15px;
  color: #ffffff;
}

header .inner-wrapper:hover nav {
  display: block;
}

section.hero .content h1 {
  color: #ffffff;
}

section.hero .content p {
  color: #ffffff;
}

.hero-content {
  height: calc(100% - 100px);
  width: 100%;
  display: table;
}

.hero-content .container {
  display: table-cell;
  vertical-align: middle;
}

.counter ul {
  font-size: 0;
  border-radius: 10px;
}

.counter ul li {
  display: inline-block;
  padding: 0 20px;
  width: 40%;
}

.counter ul li div {
  display: inline-block;
  vertical-align: middle;
}

.counter ul li p:first-child {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
}

.counter ul li p:last-child {
  letter-spacing: 1px;
  font-size: 11px;
}

.counter ul li:before {
  content: "—";
  color: #ffffff;
  font-weight: 700;
}

.countdown {
  margin: 30px 0;
}

.countdown ul {
  background-color: rgba(242, 85, 67, 0.78);
}

.countdown ul li {
  padding: 20px;
}

.btn-row button {
  display: block;
  margin: 15px auto;
}

.hero-play {
  text-align: center;
  margin-top: 60px;
}

.hero-play button {
  background: transparent;
  border: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid transparent;
}

.hero-play button:hover {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.hero-play button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.hero-play button span {
  display: block;
}

.about p {
  padding: 30px 0 50px 0;
  line-height: 30px;
}

.detail .content p {
  color: #ffffff;
}

section .content {
  padding: 60px 0;
}

.detail-numbers ul li {
  width: auto;
  padding: 20px;
}

.col {
  display: inline-block;
  width: 50%;
  margin-bottom: 15px;
}

.col:nth-child(odd) {
  padding-right: 7.5px;
}

.col:nth-child(even) {
  padding-left: 7.5px;
}

.col:nth-last-child(1),
.col:nth-last-child(2) {
  margin-bottom: 0;
  padding-bottom: 0;
}

.speaker img {
  width: 100%;
}

.speakers-showcase {
  font-size: 0;
}

.speaker::before {
  content: "";
  background: -webkit-linear-gradient(
    top,
    rgba(28, 28, 28, 0.23) 40%,
    rgba(27, 29, 29, 0.63) 60%,
    rgba(27, 29, 29, 0.92) 80%,
    rgba(27, 29, 29, 0.99) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(28, 28, 28, 0.23) 40%,
    rgba(27, 29, 29, 0.63) 60%,
    rgba(27, 29, 29, 0.92) 80%,
    rgba(27, 29, 29, 0.99) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(28, 28, 28, 0.23) 40%,
    rgba(27, 29, 29, 0.63) 60%,
    rgba(27, 29, 29, 0.92) 80%,
    rgba(27, 29, 29, 0.99) 100%
  );
  background: -moz-linear-gradient(
    top,
    rgba(28, 28, 28, 0.23) 40%,
    rgba(27, 29, 29, 0.63) 60%,
    rgba(27, 29, 29, 0.92) 80%,
    rgba(27, 29, 29, 0.99) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(28, 28, 28, 0.23) 40%,
    rgba(27, 29, 29, 0.63) 60%,
    rgba(27, 29, 29, 0.92) 80%,
    rgba(27, 29, 29, 0.99) 100%
  );
  height: 100%;
  width: 100%;
  position: absolute;
}

.speakers-showcase {
  margin-top: 50px;
}

.speakers-showcase .speaker {
  width: 100%;
  position: relative;
}

.speaker .info {
  position: absolute;
  text-align: left;
  padding: 10px;
  color: #ffffff;
  bottom: 0;
  width: 100%;
}

.speaker .info p.name {
  font-family: "Playfair Display", serif;
  font-size: 16px;
}

.speaker .info p.job {
  font-size: 12px;
}

.gradient-bg {
  background: linear-gradient(-45deg, #f0474a 0%, #fdaf19 100%);
}

.separator {
  position: absolute;
  height: 170px;
  width: 100%;
  z-index: -1;
}
