* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Permanent Marker", cursive;
}

h1 {
  font-size: 40px;
}

.main-wrapper {
  width: 100%;
  height: 100vh;
}

.sep {
  color: #ffd740;
}

.layout {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100vh;
  display: block;
}

canvas#game {
  display: block;
  cursor: none;
}

.container {
  position: absolute;
  display: table;
  background-color: #284088;
  padding: 50px 50px;
  text-align: center;
  border: 10px solid #ffffff;
}

.content {
  width: 400px;
  display: table-cell;
  vertical-align: middle;
  color: #ffffff;
}

.intro,
.info {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro {
  display: none;
}

.row {
  margin: 20px;
}

.row p {
  font-size: 20px;
  padding: 20px 0;
}

.row input[type="text"],
.btn {
  width: 80%;
  border: 2px solid #ffffff;
  padding: 10px 20px;
  font-family: "Permanent Marker", cursive;
  text-align: center;
  font-size: 20px;
}

.row input[type="text"] {
  background: transparent;
  color: #ffd740;
}

.row input[type="text"]:focus,
.btn:focus {
  outline: none;
}

.btn {
  background-color: #ffffff;
  color: #284088;
  cursor: pointer;
}

.btn:hover {
  background-color: #284088;
  color: #ffffff;
}
