* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
  font-family: "Poppins", sans-serif;
  display: table;
}

.main-wrapper {
  display: table-cell;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.60);
}

.dialog {
  width: 500px;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.dialog__icon {
  font-size: 50px;
  color: #ec4141;
}

.dialog__content {
  padding: 30px;
}

.dialog__message {
  margin-top: 20px;
  padding: 0 20px;
}

.dialog__footer {
  padding: 20px 30px;
  text-align: right;
  border-top: 1px solid #eeeeee;
}

.dialog__btn {
  font-family: "Poppins", sans-serif;
  padding: 6px 20px;
  border: 1px solid #eeeeee;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;
  margin: 0 5px;
}

.dialog__btn:last-child {
  margin: 0;
}

.dialog__btn:focus {
  outline: none;
}

.dialog__btn-cancel {
  background-color: #f2f2f2;
  color: #7d7d7d;
}

.dialog__btn-accept {
  background-color: #ec4141;
  color: #ffffff;
}

.message__title {
  font-weight: 700;
}